#root {
  width: 100%;
  margin: 0 10%;
  padding: 2rem;
  text-align: center;
}

body {
  width: 100%;
  place-items: start;
}

.button {
  background-color: green;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}

.logo {
  padding: 1.5rem;
}

.header {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.header-block-left {
  justify-content: start;
}

.header-block-right {
  justify-content: end;
}

.row {
  width: 100%;
  display: flex;
}

.block {
  width: 100px;
}

.banner-image {
  margin: 3rem;
}

.banner-text {
  margin: 1rem;
}

.border {
  border: thin solid;
}

.content {
}

.product-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 100% 100% 100%;
  gap: 5rem;
  margin-top: 1rem;
  width: 20%;
}

.product {
  width: 100%;
  text-align: justify;
}

.footer {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 100% 100% 100%;
  align-items:flex-start;
  margin: 1rem;
}